<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="kikoo">
  <property name="hibernate.connection.driver_class">iuy</property>
  <property name="hibernate.connection.password">yiuy</property>
  <property name="hibernate.connection.url">yuiyiuy</property>
  <property name="hibernate.connection.username">uyiyi</property>
  <property name="hibernate.default_catalog">iuyi</property>
  <property name="hibernate.default_schema">iyiuy</property>
  <property name="hibernate.dialect">iuy</property>
  <mapping class="ghfhf"/>
 </session-factory>
</hibernate-configuration>
